<div class="container">
  <div class="card inner-main">
    <div class="card-header">
      {{"PROFILE"|translate}}
    </div>
    <div class="card-body">
      <p class="card-text">      {{"NAME"|translate}} :
        <strong>{{UserProfile?.name}}</strong></p>
      <p class="card-text">      {{"EMAIL"|translate}} : <strong>{{UserProfile?.email}}</strong></p>
<div style="text-align: center">
  <img src="https://secure-api-jwt.herokuapp.com/{{UserProfile?.avatar}}" alt="Avatar image" style="width: 50%"/>
</div>
    </div>
  </div>
</div>
